@import "tailwindcss";
@tailwind utilities;
*{
  background: #000;
  color: #fff;

}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.hover{
  cursor: pointer;
  background: #b26e6e;
  color: #fff;
}

